dist/update-packages/*

src/usr/share/ainad/rofi/widgets/updater/updater-pagination.rasi
src/usr/share/ainad/rofi/widgets/updater/updater-packages.rasi
src/usr/share/ainad/rofi/widgets/calendar/calendar-dynamic.rasi
src/usr/share/ainad/rofi/widgets/dialog/dialog-dynamic.rasi
src/usr/share/ainad/rofi/widgets/workspace/selected-image.rasi

src/usr/share/ainad/bash/loops/loop.pid

src/usr/share/ainad/php/files/task-bar/cached-icons.php
src/usr/share/ainad/php/files/updater/package-data.php
src/usr/share/ainad/php/files/polybar-data.php
src/usr/share/ainad/php/files/system-data.php
