@import "../base-definitions.rasi"

configuration {
    location: 3;
}

window {
    width: 350px;
    x-offset: -200px;
    y-offset: 42px;
}

mainbox {
    children: [inputbar, listview];
    spacing: 5px;
}

element {
    background-color: transparent;
    spacing: 5px;
}

element-text {
    horizontal-align: 0;
    font: inherit;
}

inputbar {
    children: [icon-lan, prompt];
}

listview {
    lines: 3;
    scrollbar: false;
}
